<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wearableintelligencesystemandroidsmartglasses">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/wis_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wis_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.WearableAiDisplayMoverio">
        <activity android:name="com.wearableintelligencesystem.androidsmartglasses.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.wearableintelligencesystem.androidsmartglasses.WearableAiService"
            android:label="CameraService" >
        </service>
        <service android:name="com.wearableintelligencesystem.androidsmartglasses.sensors.MuseService" android:enabled="true"/>

        <service android:name="com.wearableintelligencesystem.androidsmartglasses.archive.AudioService" android:enabled="true" android:exported="true"></service>

        <!-- Receive Wi-Fi connection state changes -->
<!--        <receiver android:name=".comms.WifiUtils$WifiReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
<!--&lt;!&ndash;                <action android:name="android.net.wifi.STATE_CHANGE" />&ndash;&gt;-->
<!--            </intent-filter>-->
<!--        </receiver>-->


    </application>

</manifest>