<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wearableintelligencesystem.androidsmartphone">

  <uses-sdk
      android:minSdkVersion="28"
      android:targetSdkVersion="30" />

<!--    STORAGE-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    NETWORK-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
<!--    MISC-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
<!--    LOCATION-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/wis_launcher"
      android:label="Wearable Intelligence System ASP"
      android:roundIcon="@mipmap/wis_launcher"
      android:usesCleartextTraffic="true"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >
      <activity
          android:name=".MainActivity"
          android:exported="true"
          android:screenOrientation="portrait">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>

          <service android:name=".WearableAiAspService" />

      <provider
          android:name="androidx.core.content.FileProvider"
          android:authorities="${applicationId}.provider"
          android:exported="false"
          android:grantUriPermissions="true">
          <meta-data
              android:name="android.support.FILE_PROVIDER_PATHS"
              android:resource="@xml/file_provider" />
      </provider>

<!--      <meta-data android:name="cameraFacingFront" android:value="${cameraFacingFront}"/>-->
<!--      <meta-data android:name="binaryGraphName" android:value="${binaryGraphName}"/>-->
<!--      <meta-data android:name="inputVideoStreamName" android:value="${inputVideoStreamName}"/>-->
<!--      <meta-data android:name="outputVideoStreamName" android:value="${outputVideoStreamName}"/>-->
<!--      <meta-data android:name="flipFramesVertically" android:value="${flipFramesVertically}"/>-->
<!--      <meta-data android:name="converterNumBuffers" android:value="${converterNumBuffers}"/>-->
  </application>
</manifest>
