<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartglassesmanager.androidsmartphone">

  <uses-sdk
      android:minSdkVersion="28"
      android:targetSdkVersion="30" />

<!--    STORAGE-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<!--    NETWORK-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
<!--    SERVICE-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
<!--    LOCATION-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->
<!--    BLUETOOTH-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
                        android:usesPermissionFlags="neverForLocation"/>
<!--    AUDIO-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

<!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />-->

    <queries>
        <intent>
            <action android:name="SGM_COMMAND_INTENT" />
        </intent>
    </queries>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/sgm_launcher"
      android:label="Smart Glasses Manager"
      android:roundIcon="@mipmap/sgm_launcher"
      android:usesCleartextTraffic="true"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >
      <activity
          android:name="com.smartglassesmanager.androidsmartphone.MainActivity"
          android:exported="true"
          android:screenOrientation="portrait">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>

          <service android:name="com.smartglassesmanager.androidsmartphone.WearableAiAspService" />

      <provider
          android:name="androidx.core.content.FileProvider"
          android:authorities="${applicationId}.provider"
          android:exported="false"
          android:grantUriPermissions="true">
          <meta-data
              android:name="android.support.FILE_PROVIDER_PATHS"
              android:resource="@xml/file_provider" />
      </provider>

        <receiver android:name="com.smartglassesmanager.androidsmartphone.comms.SGMLibBroadcastReceiver"
          android:enabled="true"
          android:exported="true"
          >

          <intent-filter>
              <action android:name="com.teamopensmartglasses.from3pa" />
          </intent-filter>
      </receiver>

  </application>
</manifest>
