<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teamopensmartglasses.smartglassesmanager">

  <uses-sdk android:minSdkVersion="34"
      android:targetSdkVersion="34"
      />

    <!--    NETWORK-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--    SERVICE-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!--    LOCATION-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--    BLUETOOTH-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
                        android:usesPermissionFlags="neverForLocation"/>

    <!--    AUDIO-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

<!--    <queries>-->
<!--        <intent>-->
<!--            <action android:name="AUGMENTOS_INTENT" />-->
<!--        </intent>-->
<!--    </queries>-->

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
</manifest>
