flask
flask_restful
flask_cors
duckduckgo_search
opengraph_py3
spacy
wikipedia
Pillow >= 9.0.0
gunicorn
gevent
google-cloud-translate
git+https://github.com/neuml/txtai
pandas
youtube-transcript-api
pymongo
nltk
